body
{
  height: 100vh;
  counter-reset: section;
}
h1
{
  color: #f35b1c;
  font-weight: bold;
  padding-left: 10px;
}
h2
{
  font-size: 18px;
  color: #f35b1c;
}
h3
{
  line-height: 150px;
  color: #f35b1c;
}
a span
{
  text-decoration: underline;
}
.tip
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #007bff;
  text-align: center;
  color: #007bff;
  display: inline-block;
  margin-left: 5px;
  line-height: 15px;
}
#mainContainer
{
  background: #ebe7e2;
  padding-top: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
#page
{
  height: auto;
  position: relative;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 20px;
}
@media (min-width: 1100px)
{
  #page
  {
    width: 1024px;
  }
}
@media (max-width: 1100px)
{
  #page
  {
    width: 100%;
  }
}
.formHeader
{
  background: #F7F5F3;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  height: 100px;
}
.stepsIndicatorContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 0px;
  justify-content: space-between;
  width: 95%;
  height: 32px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

}
.stepsIndicatorContainer li
{
  list-style: none;
}
.stepIndicator
{
  display: inline-block;
}
.stepIndicator a
{
  font-size: 13px;
  display: inline-block;
}
.stepIndicator a::before
{
  border-radius: 50%;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  background: #FDC129;
  counter-increment: section;
  content: counter(section);
  color: #FFF;
  font-size: 19px;
  font-weight: bold;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}
.stepIndicator.active a::before
{
  background: #f35b1c;
  transition: all 200ms ease-in-out;
}
.stepIndicator:hover ::before
{
  background: #ee7023;
  transition: all 200ms ease-in-out;
}
/*Pseudo element bofer was getting a underline*/
.stepIndicator a:hover
{
  text-decoration: none;
}
.formHeader
{
  position: relative;
  background: #f8f8f8;
}
.middleLine
{
  width: 87%;
  height: 2px;
  background: orange;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.formFooter
{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
  height: 75px;
  position: relative;
  background: #f8f8f8;
}
.formFooter button
{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 35px;
  width: 100px;
  border-radius: 4px;
  background: #ee7023;
  border: 0px;
  color: #FFF;
  transition: all 300ms ease-in-out;
}
.formFooter button:hover
{
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
#mainForm
{
  background: #FFF;
  position: relative;
  min-height: 200px;
  display: inline-block;
  width: 100%;
}
.step
{
  padding: 20px;
  display: none;
}
.step.active
{
  display: block;
}
form input
{
  margin: 10px;
}
.error
{
  width: 100%;
  display: none;
  background: rgba(255,0,0,0.4);
  color: #FFF;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
.zipCode
{
  display: block;
}
#success
{
  text-align: center;
  display: none;
}
@media all and (max-width: 840px) and (min-width: 570px)
{
  .middleLine
  {
    width: 83%
  }
}
@media all and (max-width: 570px) and (min-width: 420px)
{
  .middleLine
  {
    width: 78%
  }
}
@media (max-width: 420px)
{
  .middleLine
  {
    width: 100%;
    top: 100%;
  }
  .formHeader
  {
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .stepsIndicatorContainer
  {
    display: block;
    height: auto;
    position: relative;
  }
  .stepsIndicatorContainer li
  {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .stepsIndicatorContainer li ::before
  {
    display: inline-block;
    margin-right: 10px;
  }
}
.noPadding
{
  padding-left: 0px;
  padding-right: 0px;
}
